@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    color: white;
}

body {
    background-color: black;
    
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px 20px ;
    row-gap: 20px;
    column-gap: 30px;
    background-color: rgba(195, 246, 53, 0.661);
    
    width: 700px;
    height: 300px;
   margin: 200px;
   padding: 100px;
}

.bloco-1 {
    padding: 20px;
    width: 10px;
    background-color: rgba(97, 135, 232, 0.64);
    border-radius: 10px;
}

.bloco-2 {
    padding: 20px;
    width: 10px;
    background-color: rgba(137, 43, 226, 0.644);
    border-radius: 10px;
}

.bloco-3 {
    padding: 20px;
    width: 10px;
    background-color: rgba(157, 238, 151, 0.664);
    border-radius: 10px;
}