@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    
}

body {
    
    
}

.conteiner {
    background-color: bisque;
    width: 700px;
    height: 500px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
    
    
   
}

.bloco-1 {
    
    background-color: rgba(0, 255, 255, 0.349);
    width:30px;
    height: 25px ;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
}

.bloco-2 {
    background-color: rgba(255, 192, 203, 0.546);
    width:30px;
    height: 25px ;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
}

.bloco-3 {
    background-color: rgba(238, 130, 238, 0.579);
    width:30px;
    height: 25px ;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
}